<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Create Role</h4>
            <button type="button" class="close"
               @onclick="@Cancel">&times;</button>
         </div>
         <div class="modal-body">
            <p>@Message</p>
            <InputText id="name" @bind-Value="returnData.RoleName" @onkeydown="@KeyAction" />
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" @onclick=@Ok>Create</button>
                <button type="button" class="btn btn-primary" @onclick="@Cancel">Cancel</button>
         </div>
      </div>
   </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = String.Empty;
    [Parameter] public EventCallback<ReturnAction> OnClose { get; set; }

    private ReturnAction returnData = new();

    private Task Cancel()
    {
        returnData.DidCancel = true;
        return OnClose.InvokeAsync(returnData);
    }

    private Task Ok()
    {
        return OnClose.InvokeAsync(returnData);
    }

    public void KeyAction(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Key == "NumpadEnter")
        {
            Ok();
        }
        else if (e.Key == "Escape")
        {
            Cancel();
        }
    }

    public class ReturnAction
    {
        public bool DidCancel { get; set; }
        public Guid RoleId { get; set; } = Guid.Empty;
        public string RoleName { get; set; } = String.Empty;
    }
}