<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close"
               @onclick="@Cancel">&times;</button>
         </div>
         <div class="modal-body">
            <p>@Message</p>
            <InputText id="name" @bind-Value="returnData.NewRoleName" />
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-info" @onclick=@Ok>Rename</button>
            <button type="button" class="btn btn-info" @onclick="@Cancel">Cancel</button>
         </div>
      </div>
   </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = String.Empty;
    [Parameter] public EventCallback<ReturnAction> OnClose { get; set; }

    private ReturnAction returnData = new();

    private Task Cancel()
    {
        returnData.DidCancel = true;
        return OnClose.InvokeAsync(returnData);
    }

    private Task Ok()
    {
        return OnClose.InvokeAsync(returnData);
    }

    public class ReturnAction
    {
        public bool DidCancel { get; set; }
        public string NewRoleName { get; set; } = String.Empty;
    }
}